version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/src"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    target-branch: "main"
    commit-message:
      prefix: "deps"
      include: "scope"
    groups:
      all-deps:
        patterns:
          - "*"
